<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="/stylesheets/footer.css" />
<footer class="footer">
    <div class="footerLogo">
      <img src="../images/LogoLavender.png" alt="logo arbore lavanda" />
    </div>
    <div class="nav-bar-footer">
      <div class="links">
        <li><a href="/">Acasa</a></li>
        <li><a href="/about">Despre</a></li>
        <li><a href="/benefits">Beneficii</a></li>
        <li><a href="/contact">Contact</a></li>
      </div>
      <div class="footerCopyright">
        <p>
          &copy; 2025 Terapia Bowen. Toate drepturile rezervate | Website designed
          by cEmanuel
        </p>
      </div>
    </div>
  </div>
  
</footer>
