<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="/stylesheets/header.css" />
<div class="headerContainer">
  <div class="logo">
    <img src="../images/LogoLavender.png" alt="arbore de lavandă logo " />
  </div>
  <div class="logoText">
    <img
      src="/images/LogoBowenText.png"
      alt="terapia bowen logo text"
      style="max-height: 80px"
    />
  </div>
  <div class="nav-bar middle">
    <li>
      <a href="/">Acasa</a>
      <div class="underline"></div>
    </li>
    <li>
      <a href="/about">Despre</a>
      <div class="underline"></div>
    </li>
    <li>
      <a href="/benefits">Beneficii</a>
      <div class="underline"></div>
    </li>
    <li>
      <a href="/contact">Contact</a>
      <div class="underline"></div>
    </li>

    <% if (isAdmin) {%>
    <div class="underline"></div>
    <li>
      <a href="/admin">Dashboard</a>
      <div class="underline"></div>
    </li>
    <li>
      <a href="/admin/reviews">Reviews</a>
      <div class="underline"></div>
    </li>
    <% } %>
  </div>
  <% if (email) { %>
  <div class="right-side programare">
    <!-- User profile with dropdown -->
    <div class="profile-container">
      <div class="profile-picture" id="profileToggle">
        <img
          src="<%= user.profilePic || '/images/account.png' %>"
          alt="User"
          id="profileImg"
        />
      </div>
      <div class="dropdown-menu" id="profileDropdown">
        <p><%= email %></p>
        <a href="/reviews">Lasa un review</a>
        <a href="#" id="openUploadModal">Upload imagine de profil</a>
      </div>
    </div>

    <!-- Log out button (always visible when logged in) -->
    <form action="/logout?_method=DELETE" method="POST">
      <button type="submit" class="logoutButton">Log out</button>
    </form>

    <!-- Appointments link -->
    <% } %> <%- include('./uploadModal.ejs'); -%>
    <div class="programare">
      <a href="/appointments">Programari</a>
    </div>
  </div>
</div>

<script defer src="/javascripts/header.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.js"></script>
