node_modules/
#Environment Variables
.env
apiKey.json
serviceAccountKey.json

# Logs
*.log


#Firebase/Passport private config

firebase.js
passport-config.js

/domain/bowentherapy-42520-firebase-adminsdk-fbsvc-1f75f8b89c.json