<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/appointments.css" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/stylesheets/forgotPassword.css" />

    <title>Document</title>
  </head>
  <body>
    <%- include('partials/header'); -%>
    <h1>Resetare parola</h1>
    <p>
      Te rugam sa introduci adresa de email asociata contului tau. Vei primi un
      link pentru resetarea parolei.
    </p>
    <div id="messageContainer" style="display: none; padding: 10px"></div>
    <div class="wrapper">
      <main>
        <form id="forgotPasswordForm" method="POST">
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Enter your email"
            required
          />
          <button type="submit">Trimite link resetare parola</button>
        </form>
      </main>

      <%- include('partials/footer'); -%>
    </div>
  </body>
  <script src="/javascripts/appointments.js"></script>
  <script src="/javascripts/forgotPassword.js"></script>
</html>
