<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/appointments.css" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/stylesheets/newPassword.css" />

    <title>Document</title>
  </head>
  <body>
    <%- include('partials/header'); -%>
    <div class="wrapper">
      <main>
        <h1>Resetare parola</h1>
        <form method="POST">
          <input type="hidden" name="token" value="<%= token %>" />
          <label for="newPassword">Parola noua:</label>
          <input type="password" name="newPassword" id="password" required />
          <label for="confirmPassword">Confirmare parola:</label>
          <input
            type="password"
            name="confirmPassword"
            id="confirmPassword"
            required
          />
          <button type="submit">Reseteaza Parola</button>
        </form>
      </main>

      <%- include('partials/footer'); -%>
    </div>
  </body>
  <script src="/javascripts/newPassword.js"></script>
</html>
