* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Playfair', serif;
  font-size: 62.5%;
}

body {
  font-family: 'Lora', serif;
  font-size: 16px;
  background-color: #e7e7e7;
}
.header {
  text-align: center;
  font-size: 5.5rem;
  margin: 40px 0;
  font-family: 'Playfair', serif;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 100vw;
  gap: 50px;
  margin-bottom: 70px;
}
.calendar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 100vw;
  gap: 50px;
  margin-top: 150px;
}
#calendar {
  max-height: 355px;
}
.appointment,
.login {
  width: 30%;
}
.appointment .container {
  text-align: center;
  padding-right: 100px;
}
.appointment {
  border-right: 1px solid #75ba75;
  padding-right: 90px;
  color: #888888;
}
.appointment a {
  text-decoration: none;
  color: #888888;
}
.loginRegister {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}
.login .container,
.login .container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login .container form {
  gap: 10px;
  color: #888888;
}

form button {
  background-color: #75ba75;
  border: none;
  border-radius: 5px;
  color: white;
  display: block;
  font-family: inherit;
  font-size: 1.4rem;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}
form button:hover {
  background-color: #5a8f5a;
}
form input {
  border: 1px solid #75ba75;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px; /* Width of the modal */
  height: 400px; /* Height of the modal */
  overflow: hidden; /* Disable scroll */
}
.modal button {
  margin-top: 30px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-content form label {
  color: #888888;
}
.passwordError {
  color: red;
  font-size: 1.2rem;
  margin-top: 10px;
}
.appointmentCalendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 100px;
}
@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

footer {
  width: 100%;
  background-color: #75ba75;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-family: 'Lora', serif;
}
.forgotPassword a {
  color: #888888;
  font-size: 1.4rem;
  text-align: center;
  padding-bottom: 10px;
  margin-top: 20px;
  text-decoration: none;
}
.success-banner {
  background-color: #d4edda;
  color: #75ba75;
  border: 1px solid #c3e6cb;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}
